<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-1">
            <a class="nav-link" href="{% url 'exams:index' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item ms-1">
            <a class="nav-link disabled" href="{% url 'exams:index' %}">{{ request.user.name }}</a>
        </li>
        <li class="nav-item ms-1">
            <a class="nav-link" href="{% url 'exams:logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item ms-1">
            <a class="nav-link" href="{% url 'exams:login' %}">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>