{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
{% include 'exams/navigation_bar.html' %}

<form action="{% url 'exams:register' %}" method="post">
    {% csrf_token %}
    <div class="input-group ms-2 mt-2 w-50">
        <span class="input-group-text w-25" id="username-span">{{ form.username.label_tag }}</span>
        <input class="form-control" type="text" id="username" name="username">
    </div>
    <div class="input-group ms-2 mt-2 w-50">
        <span class="input-group-text w-25" id="password-span">{{ form.password.label_tag }}</span>
        <input class="form-control" type="password" id="password" name="password">
    </div>
    {% if error_message %}
    {% for line in error_message %}
    <div class="alert alert-warning ms-2 mt-2 w-50" role="alert">
        <small>{{ line }}</small>
    </div>
    {% endfor %}
    {% endif %}
    <div class="input-group ms-2 mt-2 w-50">
        <button type="submit" class="btn btn-primary w-25">Register</button>
    </div>
</form>

</body>
</html>