{% extends 'exams/base.html' %}

{% load static %}

{% block title %}Question Report {{ report.id }}{% endblock %}

{% block content %}
<div class="list-group">
    <div class="container">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10 col-lg-10">
                <h3 class="text-center mt-5 mb-5">{{ request.user.username }} Report History</h3>
                {% for report in question_reports %}
                <div>
                    <a href="{% url 'exams:index' %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                Question {{ report.question.title }} (Exam {{ report.question.exam.title }})
                            </h5>
                        </div>
                        <p class="mb-1">Report summary: {{ report.text|slice:":110" }}...</p>
                        <small>{{ report.reported_on }}</small>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}